<h2>Hi {{ user_name }}!</h2>
<h2>Choose an answer for each of the questions and submit the test once done.</h2>
<h1>Good Luck!</h1>
<form #f="ngForm" (submit)="onSubmit()">

  <div id="boxes">
    <label for="q1">1. {{questions[0].question}}</label><br>
    <input type="radio" required name="q1" [(ngModel)]="q1.a" #a1='ngModel' value="1">{{questions[0].correct}}<br>
    <input type="radio" required name="q1" [(ngModel)]="q1.a" #a1='ngModel' value="0">{{questions[0].fake1}}<br>
    <input type="radio" required name="q1" [(ngModel)]="q1.a" #a1='ngModel' value="0">{{questions[0].fake2}}<br>
  </div>
  <div class="errors" *ngIf="a1.invalid && a1.touched">
    <div class="errors" *ngIf="a1?.errors.required">Choose an answer</div>
  </div>
  <div id="boxes">
    <label for="q1">2. {{questions[1].question}}</label><br>
    <input type="radio" required name="q2" [(ngModel)]="q2.a" #a2='ngModel' value="1">{{questions[1].correct}}<br>
    <input type="radio" required name="q2" [(ngModel)]="q2.a" #a2='ngModel' value="0">{{questions[1].fake1}}<br>
    <input type="radio" required name="q2" [(ngModel)]="q2.a" #a2='ngModel' value="0">{{questions[1].fake2}}<br>
  </div>
  <div class="errors" *ngIf="a1.invalid && a1.touched">
    <div class="errors" *ngIf="a1?.errors.required">Choose an answer</div>
  </div>
  <div id="boxes">
    <label for="q1">3. {{questions[2].question}}</label><br>
    <input type="radio" required name="q3" [(ngModel)]="q3.a" #a3='ngModel' value="1">{{questions[2].correct}}<br>
    <input type="radio" required name="q3" [(ngModel)]="q3.a" #a3='ngModel' value="0">{{questions[2].fake1}}<br>
    <input type="radio" required name="q3" [(ngModel)]="q3.a" #a3='ngModel' value="0">{{questions[2].fake2}}<br>
  </div>
  <div class="errors" *ngIf="a1.invalid && a1.touched">
    <div class="errors" *ngIf="a1?.errors.required">Choose an answer</div>
  </div>

  <button>Cancel</button><button type="submit" [disabled]="f.invalid">Submit</button>{{f.valid | json}}

</form>